<div class="container">
	<h1 class="center">
		Members
	</h1>

	<div id="users">
		<div class='page'>
			<ul class="nav nav-list">
				<div class="row-fluid">
	        		<%= render partial: 'user' %>
				</div>
			</ul>
		</div
	</div>
</div>