<!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

    


      <!-- START THE FEATURETTES -->

      <div class="featurette" id="jogging">
	<%= image_tag('android2.png', alt: "JogginGo", :class =>'featurette-image pull-right', :width => 300)%>
        <!--<img class="featurette-image pull-right" src="../assets/img/examples/browser-icon-chrome.png"> -->
        <h2 class="featurette-heading">Track your Jogging. <span class="muted">Save your times.</span></h2>
        <p class="lead">JogginGo! uses the GPS capabilty of your smartphone to keep informed about where you're running, so it can calculate your final time. After that, It'll automatically syncronize with the website, so you can track all of your runnings in a simple and clear interface.</p>
      </div>

      <hr class="featurette-divider">

      <div class="featurette" id="limit">
        <!-- <img class="featurette-image pull-left" src="../assets/img/examples/browser-icon-firefox.png"> -->
	<%= image_tag('stopwatch.png', alt: "JogginGo", :class =>'featurette-image pull-left', :width => 350)%>
        <h2 class="featurette-heading">Test your limits! <span class="muted">Show you're the best of your city.</span></h2>
        <p class="lead">With "Test your limits!" feature, you can compete with another players around you, in one of our pre-defined routes. You just have to beat their time to be the king of your city.</p>
      </div>

      <hr class="featurette-divider">

      <div class="featurette" id="next">
        <!-- <img class="featurette-image pull-right" src="../assets/img/examples/browser-icon-safari.png"> -->
	<%= image_tag('runner.png', alt: "JogginGo", :class =>'featurette-image pull-right', :width => 300)%>
        <h2 class="featurette-heading">What's next to you? <span class="muted">Don't you want to know?</span></h2>
        <p class="lead">Check if there is someone around you running. You can see the most used routes on your country or city.</p>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->
